project_id = "YOUR_LAB_PROJECT"
billing_account = "YOUR_BILLING_ACCOUNT"
region = "us-central1"
zone = "us-central1-a"
web_origin = "https://YOUR_DOMAIN"
snapshots_bucket = "YOUR_UNIQUE_PRIVATE_SNAPSHOTS_BUCKET"
results_bucket = "YOUR_UNIQUE_PRIVATE_RESULTS_BUCKET"
backups_bucket = "YOUR_UNIQUE_PRIVATE_BACKUPS_BUCKET"
environment = "none"
